.header-container {
    width: 99vw;
    height: 90px;
    background-color: #bcd2f0;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 50px;
    height: 50px;
    padding: 5px;
    margin-left: 5px;
}

.nav-list ul {
    display: flex;
    list-style: none;
}

.nav-list ul li {
    padding: 5px;
    margin: 10px;
}

.card {
    border: 1px solid grey;
    width: 50vw;
    display: flex;
}

.cards-list {
    position: relative;
    top: 15%;
    left: 40%;
    padding: 20px;
    overflow: scroll;
    height: inherit;
    width: 50vw;
    overflow-x: hidden;
}

.container-card {
    width: 60vw;
    height: 60vh;
}

.footer-container {
    position: absolute;
    bottom: 0;
    background: #bcd2f0;
    height: 70px;
    width: 99vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-container img {
    height: 50px;
    width: 50px;
}

.footer-text p {
    display: inline-block;
    font-weight: bold;
}
.card-img {
    width: 70%;
}